@import 'normalize';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700');



* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

//fonts
$text-font: 'Josefin Sans',
sans-serif;
$text-btn:'Aleo',
serif;

body {
	padding: 0;
	margin: 0;
	font-family: $text-font;
	font-size: 1.6rem;
	line-height: 1.2;
	color: #fff;
	min-height: 100%;

	.container {
		height: 100%;
		width: 66%;
		margin: 0 auto;
	}
}

	.logo {
		background-image: url(../img/logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: inline-block;
		@include tr(.4s);

		&:hover,
		&:focus,
		&:active {
			transform: scale(1.1);
		}
	}

		.btn {
			font-family: $text-btn;
			font-size: 1.6rem;
			width: 200px;
			height: 45px;
			text-transform: uppercase;
			background-size: 100% auto;
			background-image: linear-gradient(30deg, #496bfe 0% 40%, #5474fd 40% 100%);
			color: #fff;
			@include tr(.4s);

			&:hover,
			&:focus,
			&:active {
				background-size: 310%;
				box-shadow: 0 0 0 0 #496bfe inset,
					0 0 3px 1px #000 inset;
			}

			&__link {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: #fff;
			}
		}

		.head {
			position: relative;
			font-family: 'Josefin Sans'sans-serif;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 620px;
			background-image: url(../img/head_image.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			text-align: center;

			&__container {
				padding-top: 7%;
				min-width: 1000px;
			}

			&__logo {
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
				font-size: 2.5rem;
				color: #fff;
				margin-left: 17%;
				text-decoration: none;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&:active {
					color: #000;
				}
			}

			&__title {
				font-family: $text-font;
				font-size: bold;
				font-size: 4rem;
				text-transform: uppercase;
			}

			&__subtitle {
				font-size: 200;
				font-weight: 200;
				letter-spacing: 2px;
			}

			&__search-form {
				height: 7%;
				width: 40%;
				background-color: #fff;
				@include my_pos(50%, 50%, );
			}

			&__form {
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding: 0;
				margin: 0;
				height: 100%;
			}

			&__enter {
				color: #999999;
				font-size: 1.1rem;
				width: 70%;
				margin: 0 2px;
				text-align: center;
				border: none;
				letter-spacing: 2px;
				outline: none;
			}

			&__look {
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: space-around;
				background-color: #5474fd;
				height: 95%;
				width: 28%;
				margin: 1px 0;
				border: 1px #fff solid;
				color: #fff;
				text-transform: uppercase;
				@include tr(.4s);

				&--btn {
					font-family: $text-btn;
					font-size: 1.4rem;
					letter-spacing: 2px;
					padding-left: 5%;

					&:hover,
					&:focus,
					&:active {
						background-color: #fff;
						color: #5474fd;
						border: 2px #5474fd solid;
					}
				}
			}

			&__search {
				font-size: 2rem;
				margin: 2%;
			}

			&__scroll-box {
				font-weight: 100;
				letter-spacing: 2px;
				width: 120px;
				height: 40px;
				display: inline-block;
				@include my_pos(70%, 50%);
			}

			&__arrow-link {
				text-decoration: none;
				color: #fff;
				width: 100%;
				height: 100%;
			}

			&__arrow_down {
				@include tr(.4s);

				&:hover {
					transform: rotateY(40deg);
				}
			}

			&__nav {
				display: flex;
				align-items: center;
				height: 10%;
				font-size: 1.26rem;
				font-family: $text-btn;
				text-transform: uppercase;
				background-color: #5474fd;
				position: absolute;
				right: 0;
				left: 0;
				bottom: 0;
			}

			&__logo {
				font-size: 1rem;
				margin: 1.5% 17%;
				width: 15%;
				height: 40%;
			}

			&__list {
				padding-left: 0;
				font-family: $text-btn;
				min-width: 37%;
				margin-left: 45%;
			}

			&__item {
				display: inline-block;
				padding: 2.5%;
			}

			&__link {
				margin: 4px 0;
				padding: 4px;
				text-decoration: none;
				@include tr(.3s);
				color: #fff;

				&:hover,
				&:focus,
				&:active {
					background-color: #fff;
					color: #5474fd;
					border-radius: 5px;
				}
			}
		}

		.menu {
			font-size: 0;
			position: relative;
			height: 820px;
			width: 100%;
			background-image: url(../img/bg2.png);
			// background-position:top;
			// background-size:contain; 
			background-repeat: no-repeat;

			&__text {
				padding-top: 20%;
				width: 55%;
				height: 50%;
			}

			&__title {
				font-size: 2.4rem;
				font-family: $text-btn;
				color: #afafaf;
			}

			&__sent {
				max-height: 45%;
				overflow: hidden;
				font-family: $text-font;
				color: #999999;
				font-size: 1.3rem;
				letter-spacing: 1px;
				line-height: 2rem;
			}

			&__pct {
				width: 21%;
				height: 22%;
				background-size: cover;
				background-position: center;

				&--waterhouse {
					@include my_pos(25%, 71%, -73%, -48%);
					background-image: url(../img/water_house.png);
				}

				&--mount {
					@include my_pos(25%, 75%, -63%, 55%);
					background-image: url(../img/mount.png);
				}
			}

			&__btn {
				@include my_pos(60%, 30%, -58%, -50%);
			}

			&__img {
				height: 220px;
				width: 355px;
			}

			&__icons {
				display: flex;
				padding: 0 25%;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 25%;
				background-color: #333333;
				align-items: center;
				justify-content: space-between;

				&::before,
				&::after {
					content: "";
					border-top: 1px #656565 dotted;
					display: inline-block;
					height: 58%;
					width: 19%;
					border-radius: 70% 70%;
				}

				&::before {
					@include my_pos(46%, 39.5%)
				}

				&::after {
					@include my_pos(46%, 60%)
				}
			}

			&__icon {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__string {
				font-size: 2.2rem;
				font-family: $text-btn;
				color: #afafaf;
			}

			&__shcut {
				font-size: 4rem;
				height: 40px;
				width: 40px;
				font-weight: thin;

				&--look {
					color: #5474fd;
				}

				&--check {
					color: #ff6363;
				}

				&--well {
					color: #00a2ff;
				}
			}
		}

		.place {
			font-size: 0;
			width: 100%;
			height: 1100px;

			&__container {
				position: relative;
			}

			&__country {
				font-size: 1.9rem;
			}

			&__title {
				text-transform: uppercase;
			}

			&__text {
				max-height: 45%;
				overflow: hidden;
			}

			&__tomove {
				width: 100%;
				height: 50%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;

				&--hotel {
					background-image: url(../img/bg3.png);
				}

				&--nature {
					background-image: url(../img/bg4.png);
				}
			}

			&__discr {
				font-size: 1.2rem;
				line-height: 2rem;
				letter-spacing: 1px;
				overflow: hidden;
				color: #bab8b8;
				display: inline-block;
				padding: 4% 3%;
				height: 48%;
				width: 46%;
				background-color: #2f292a;
				opacity: .9;

				&--house {
					@include my_pos(60%, 23%);
				}

				&--clifs {
					@include my_pos(60%, 77%);
				}
			}

			&__btn {
				margin: 2% 0;
			}
		}

		.tour {
			font-size: 0;
			width: 100%;
			height: 600px;
			background-color: #232323;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(../img/bg_tuorist.png);

			&__container {
				text-align: center;
			}

			&__title {
				font-size: 4rem;
				font-family: $text-btn;
				font-weight: 300;
				margin: 0 auto;
				color: #eee;
				padding: 10% 0 8%;
			}

			&__person {
				display: flex;
				padding: 0;
				align-content: start;
				width: 100%;
				height: 40%;
				background-color: #333333;
			}

			&__box {
				text-align: left;
				padding: 0 4%;
				display: flex;
				flex-direction: column;
				width: 60%;
			}

			&__subtitle {
				font-size: 1.6rem;
				text-transform: uppercase;
				margin: 7% 0;
				font-weight: 300;
				color: #eee;
				display: inline-block;
			}

			&__spech {
				display: inline-block;
				overflow: hidden;
				font-size: 1.2rem;
				padding: 0;
				margin: 0;
				color: #7b7b7b;
				height: 40%;
				width: 98%;
				line-height: 1.8rem;
			}

			&__quot {
				color: #496bfe;
				padding: 0 1%;
			}

			&__pct {
				display: inline-block;
				margin: 0;
				padding: 0;
				width: 40%;
				height: 100%;
				background-image: url(../img/tuorist.png);
				background-position: center;
				background-size: cover;
			}
		}

		.foot {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 5%;
			text-align: center;
			width: 100%;
			height: 300px;
			background-color: #232323;

			&__logo {
				font-size: 1rem;
				width: 100px;
				height: 30px;
				padding: 1% 0;
			}

			&__slogan {
				color: #7b7b7b;
				font-family: $text-font;
				max-height: 8vh;
				max-width: 20%;
				padding: 0.5% 0;
				overflow: hidden;

			}

			&__icons {
				display: inline-block;
				width: 15%;
				padding: 1% 0;
				text-decoration: none;
				padding-left: 0;
			}

			&__icon {
				height: 20px;
				width: 20px;
				margin: 0 2%;
				padding: 2px 0;
				display: inline-block;
				border-radius: 5px;
				@include tr(0.15s);

				&--in {
					color: #5474fd;
				}

				&:hover {
					box-shadow: 0px 0px 4px 1px #fff;
					transform: scale(1.1);
				}
			}
		}
		

